*,
*::before,
*::after {
  box-sizing: border-box;
}

.bag {
    grid-area: b;
    padding-left: 10px;
}

.bagTitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #53546D;
    text-align: center;
    font-weight: bold;
}

.bagInner {
    text-align: center;
    width: 100%;
    height: 355px;
    position: relative;
}

.emptyBag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate3d(-50%, -50%, 0);
}

.emptyBag img {
    height: 162px;
    width: 162px;
}

.emptyBagText {
    font-size: 16px;
    line-height: 19px;
    color: #53546D;
    opacity: 0.4;
    text-transform: uppercase;
}

.bagFooter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
}

.priceSum {
  font-weight: bold;
}

.checkoutBtn {
    display: inline-block;
    padding: 6px 12px 5px 10px;
    text-transform: uppercase;
    color: #fafafd;
    background: #53546d;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    border: none;
}

.checkoutBtn:focus {
    outline: none;
}

.bagList {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.productItemInner {
  text-align: center;
}

.productImage img{
  width: 80px;
  height: 80px;
}

.removeItemBtn {
  display: inline-block;
  color: #fafafd;
  background: #53546d;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  width: 80px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.removeItemBtn:focus {
  outline: none;
}