.orderFormWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderBtn {
    padding: 3px 0;
    width: 179px;
    background-color: #EAEAEF;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #53546D;
    border: none;
    cursor: pointer;
}

.orderBtn:focus {
    outline: none;
}

.buyBtn {
    background-color: #53546D;
    color: #FAFAFD;
}

.orderForm {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px
}

.orderFormItem {
    grid-column: span 2;
}

.orderFormAddress {
    grid-column: span 3;
}

.orderFormPaymentType {
    grid-column: span 3;
}

.orderFormButtons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    width: 100%;
    grid-column: span 6;
}

.orderFormPaymentTypeTitle {
    color: #53546D;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.orderFormPaymentTypeContainer {
    display: flex;
}